<div clas='card' *ngIf='product'>
    <div class="card-header">
        {{pageTitle + ': ' + product.productName}}
    </div>

    <div>
        <ul>
            <li>Product ID: {{ product.productId}}</li>
            <li>Product Name: {{ product.productName}}</li>
            <li>Product Code: {{ product.productCode}}</li>
            <li>Release Date: {{ product.releaseDate}}</li>
            <li>Description: {{ product.description}}</li>
            <li>Price: {{ product.price | currency}}</li>
            <li>Ratings: {{ product.starRating}}</li>
        </ul>
        <div>
            <img [(src)]="product.imageUrl" alt="Product Image" [style.width.px]='imageWidth' [style.margin.px]='imageMargin' [title]='product.productName' />
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-secondary" (click)="onBack()">
            <i class="fa fa-chevron-left"></i>Back
        </button>
    </div>

</div>