<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expanded navbar-light bg-light">

    <a class="navbar-brand"><img width="40" alt="Angular Logo" src="https://i.postimg.cc/8P4FQnc3/logo.png" />{{pageTitle}}</a>
    <ul class="nav nav-pills">
        <li><a class="nav-link" [routerLink]="['/welcome']">Home</a></li>
        <li><a class="nav-link" [routerLink]="['/products']">Product List</a></li>
    </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>