﻿<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <p>Welcome!</p>
        </div>
    </div>
</div>