<div class="card">
    <div class="card-header">
        <h1>{{pageTitle}}</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <!-- <input type="text" [(ngModel)]='listFilter' (input)="onFilterChanged($event.target.value)"> -->
                <input type="text" [(ngModel)]='listFilter'>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filtered by: {{listFilter}}</h4>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table" *ngIf="products && products.length">
            <thead>
                <th><button class="btn btn-primary" (click)='toggleImage()'>{{showImage? "Show" : "Hide"}}
                        Image</button></th>
                <th>Product</th>
                <th>Code</th>
                <th>Available</th>
                <th>Description</th>
                <th>Price</th>
                <th>5 Star Rating</th>
            </thead>
            <tbody>
                <tr *ngFor="let product of filteredProducts">
                    <td>
                        <!-- PROPERTY BINDING -->
                        <img *ngIf='showImage' [src]='product.imageUrl' [title]='product.productName' [style.width.px]='imageWidth' [style.margin.px]='imageMargin' />
                    </td>
                    <td><a [routerLink]="['/products', product.productId]">{{product.productName}}</a></td>
                    <td>{{ product.productCode | lowercase | convertToSpaces:'-'}}</td>
                    <td>{{ product.releaseDate}}</td>
                    <td>{{ product.description}}</td>
                    <td>{{ product.price | currency:'USD':'symbol':'1.2-2'}}</td>
                    <td>
                        <pm-star-rating [rating]='product.starRating' (ratingClicked)='onRatingClicked($event)' [fromParentEvent]='notify'></pm-star-rating>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>